{% extends "master.html" %}
{% block content %}
    <div class=" container-fluid secondary-header">
        <ul class="secondary-header-item">
            <li class="item">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-lg btn-outline-primary">
                        <i class="fa fa-home"></i>
                        <h6>Stocks</h6>
                    </button>
                </div>
            </li>
            <li class="item"></li>
        </ul>
    </div>
<!--Building the content box-->
    <section class="container-fluid stock-item-box">
        <div class="buy-sell-stock-parent">

            <div class="buy-sell-stock">
                <p>Buy or sell stock</p>
            </div>

            <div class="display-stock-chart">
                <p>This display the chart of the stock</p>
            </div>

        </div>
    </section>
{% endblock %}